@using Auction.MVC.Contracts;
@model SingleLotViewModel
<link rel="stylesheet" href="~/css/lot.css" />
<div id="header-strip"></div>
<div class="content">
    <div id="photo-and-title">
        <div id="title-heart">
            <div id="title">
                <h1>@Model.Name</h1>
                <p>Время окончания @Model.FinalDate</p>
                <br /><p>Выставил: @Model.OwnerName</p>
            </div>
            @if (ViewBag.isWish == true)
            {
                <div>
                    Желаемое
                </div>
            }
            else if (ViewBag.AuthId != Model.OwnerId)
            {
                <form method="post" asp-controller="WishList" asp-action="Create">
                    <div id="heart">
                        <svg>
                            <use href="../media/heart.svg#icon-heart"></use>
                        </svg>
                    </div>
                    <input type="hidden" name="lotId" value="@Model.Id" />
                    <input type="submit" value="" />
                </form>
            }

            @if (ViewBag.betExists == true)
            {
        <form method="post" action="~/Lot/">
            <input type="hidden" name="lotId" value="@Model.Id" />
            <input type="submit" value="ОтправSelllotить в проданное" />
        </form>}
        </div>
        @if(Model.PathPhoto !=null)
        {
        <img src="..@Model.PathPhoto" id="main-img" alt="" />
        }
        else
        {
        <img src="../media/car.jpg" id="main-img" alt="" />
        }
        <div id="miniatures">
            @if (ViewBag.Miniatures != null)
            {
                @foreach (var item in ViewBag.Miniatures)
                {
                    <img src="..@item.Path" class="miniature-item" alt="фото" />
                }
            }
        </div>
    </div>
    <div id="lot-description">
        <div id="bets">
            <div class="bet">
                <p>Текущая ставка</p>
                <div id="current-bet">
                    <p>@Model.StartPrice</p>
                    <img src="../media/ruble.svg" alt="рубль" />
                </div>
            </div>
            @if (ViewBag.AuthId != Model.OwnerId)
            {
            <div class="relative-flex">
                <div class="bet">
                    <p>Сделать ставку</p>
                    <div id="place-a-bet">
                        
                        <form method="post" asp-controller="Bet" asp-action="CreateBet">
                            <input type="number" name="amount" value="" placeholder="Введите цену" maxlength="12" />
                            <input type="hidden" name="lotId" value="@Model.Id"/>
                            <input type="submit" value="Отправить" />
                            @*<img src="../media/hammer-btn.svg" alt="рубль" id="hammer-btn" />*@
                        </form>
                    </div>
                </div>
                
            </div>
            }
        </div>
        <p id="description">
            @Model.Description
        </p>
    </div>
</div>