
<h1>Lots</h1>

<table>
    <tr>
        <th>IdLot</th>
        <th>IdOwner</th>
        <th>CurrentPrice</th>
        <th>FinalDate</th>
    </tr>
    <tr>
        <td>@ViewData["LotID"]</td>
        <td>@ViewData["OwnerID"]</td>
        <td>@ViewData["CurrentPrice"]</td>
        <td>@ViewData["FinalDate"]</td>
    </tr>
</table>
@if ((bool)ViewData["IsActive"] == false)
{
    <h1>Лот не активен</h1>
}
else
{
    using (Html.BeginForm("MakeBet", "Lot", FormMethod.Post))
    {
        <h1>Price</h1>
        <textarea name="Price" id="Price"></textarea>
        <input type="hidden" name="LotsId" value="@ViewData["LotID"]">
        <button type="submit">Сделать ставку</button>
    }
    using (Html.BeginForm("AddWishList", "Lot", FormMethod.Post))
    {
        <input type ="text" name="Price">
        <input type="hidden" name="LotsId" value="@ViewData["LotID"]">
        <button type="submit">Добавить в желаемое</button>
    }
}